/* IMPORT FONT (similar to screenshot aesthetic) */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* GLOBAL RESET */
body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  color: #e7e7e7;
  background-color: #0d0d0f;
  background-image:
      linear-gradient(#2222 1px, transparent 1px),
      linear-gradient(90deg, #2222 1px, transparent 1px);
  background-size: 80px 80px;
}

/* HEADER */
.header {
text-align: center;
font-size: 48px;
font-weight: 600;
padding: 20px 20px;
background: linear-gradient(to bottom, #000, #0d0d0f 60%);
letter-spacing: 1px;
}

.title {
  text-decoration: none;
  color: #e7e7e7;
}

.title:hover{
  color: #e7e7e7;
  transition: scale(1.03);
}

/* SECTION TITLE */
.section-title {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 2px solid #56a6ff;
  display: inline-block;
}

/* TITLE BLOCK */
.welcome-title {
    margin-bottom: 10px;
}

.welcome-title h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.line {
    width: 60px;
    height: 4px;
    background-color: #4db3ff;
    margin-bottom: 10px;
}

/* PROJECT TITLE */
.project-title {
  margin-top: 12px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* PROJECT SKILLS BELOW IMAGES */
.project-skills {
  margin-top: 14px;
  text-align: center;
}

.skill-tag {
  display: inline-block;
  color: #f7f7f7;
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  margin: 0 4px;
  box-shadow: 0 2px 6px #00000050;
}
